<a href="https://colab.research.google.com/github/Priyanka-Kugapriya/Clustering_notebook/blob/main/Automatic_Clustering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go
import numpy as np

#changepath to CSV

df= pd.read_csv("/content/sample_data/CustomerW3_IT_6_Test_20210225182626301.csv",header=None)

In [2]:
df.columns = ['0','1','2', '3','4','5','6','7','8','9','10','11','12','13','14']

In [3]:
df.isnull().sum()

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
dtype: int64

In [4]:
df.drop(['3','5','14', '7', '9', '11', '13'],axis='columns', inplace=True)

In [5]:
print(df)

         0        1           2           4           6    8   10   12
0        0        0  331.497681  366.443085     0.00000  0.0  0.0  0.0
1        0        0  328.913696  362.517304  2372.15332  0.0  0.0  0.0
2        0        0  332.411896    0.000000     0.00000  0.0  0.0  0.0
3        0        0  327.737640  363.017761     0.00000  0.0  0.0  0.0
4        0        0  329.433319    0.000000     0.00000  0.0  0.0  0.0
...     ..      ...         ...         ...         ...  ...  ...  ...
678332  94  2293759  329.108093    0.000000     0.00000  0.0  0.0  0.0
678333  94  2293759  329.762146    0.000000     0.00000  0.0  0.0  0.0
678334  94  2293759  333.106567  363.926758     0.00000  0.0  0.0  0.0
678335  94  2293759  328.430756    0.000000     0.00000  0.0  0.0  0.0
678336  94  2293759  333.265350    0.000000     0.00000  0.0  0.0  0.0

[678337 rows x 8 columns]

In [6]:
test = df.to_dict(orient="records")

In [7]:
frame_define = []
for i in test:
  key_arr = i.keys()
  for key in key_arr:
    if key not in ['0','1']:
      dc1 = {}
      dc1['X'] = i.get('0')
      dc1['Y'] = i.get('1')
      dc1['Column'] = key
      dc1['Value'] = i.get(key)
      frame_define.append(dc1)

In [8]:
df2 = pd.DataFrame(frame_define)

In [9]:
df2

          X        Y Column       Value
0         0        0      2  331.497681
1         0        0      4  366.443085
2         0        0      6    0.000000
3         0        0      8    0.000000
4         0        0     10    0.000000
...      ..      ...    ...         ...
4070017  94  2293759      4    0.000000
4070018  94  2293759      6    0.000000
4070019  94  2293759      8    0.000000
4070020  94  2293759     10    0.000000
4070021  94  2293759     12    0.000000

[4070022 rows x 4 columns]

**Using Silhouette Score**

In [21]:
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score

In [19]:
X = df2.iloc[:, [0]].values

In [22]:
sil_score_max = -1 #this is the minimum possible score

for n_clusters in range(2,10):
  model = KMeans(n_clusters = n_clusters, init='k-means++', max_iter=100, n_init=1)
  labels = model.fit_predict(X)
  sil_score = silhouette_score(X, labels)
  print("The average silhouette score for %i clusters is %0.2f" %(n_clusters,sil_score))
  if sil_score > sil_score_max:
    sil_score_max = sil_score
    best_n_clusters = n_clusters

The average silhouette score for 2 clusters is 0.66
The average silhouette score for 3 clusters is 0.64
The average silhouette score for 4 clusters is 0.64
The average silhouette score for 5 clusters is 0.63
The average silhouette score for 6 clusters is 0.63
The average silhouette score for 7 clusters is 0.63
The average silhouette score for 8 clusters is 0.63
The average silhouette score for 9 clusters is 0.63