<a href="https://colab.research.google.com/github/Priyanka-Kugapriya/Clustering_notebook/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [28]:
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go
import numpy as np

#changepath to CSV

df= pd.read_csv("/content/sample_data/Layer-Readings_2.csv",header=None)

In [29]:
df.columns = ['0','1','2', '3','4','5','6','7','8','9','10','11','12','13','14']

In [30]:
#encoder reding - real reading
df['0'] =df['0']-1291345.5
df['0'] =df['0']/6553.6
df['1'] =df['1'] - 1069419
df['1'] =df['1']/6553.6

In [6]:
def in_range(val,threshold=1500,ranges=50):
    try:
        
        for i in range (0,len(val)):
            val1=float(val[i])
            if val1<threshold+ranges and val1>threshold-ranges:
                return val1
        
        return -1  
    except:
        print(val1)
        print(val2)
        print(val3)
        return -1

In [7]:
df['2_R'] = df.apply(lambda x: in_range([x['2'],x['4'],x['6']],2900,100), axis=1)

In [ ]:
df['num']=df. index
df1= df[df['2_R']>0]
df1['num']=df1. index
df1=df1[df1['num']%10==0]

x=df1['0']
y=df1['1']
z=df1['2_R']


fig = go.Figure(data=[go.Scatter3d(
    x=x,
    y=y,
    z=z,
    mode='markers',
    marker=dict(
        size=2,
        color=z,                # set color to an array/list of desired values
        colorscale='Viridis',   # choose a colorscale
        opacity=0.8
    )
)])

# tight layout
fig.update_layout(margin=dict(l=0, r=0, b=0, t=0))
fig.show()

In [9]:
df['Index'] = range(0, 0+len(df))

In [13]:
df.drop(['3','5','14', '7', '9', '11', '13','2_R','num'],axis='columns', inplace=True)

In [14]:
cols = df.columns.tolist()
cols

['0', '1', '2', '4', '6', '8', '10', '12', 'Index']

In [15]:
cols = cols[-1:] + cols[:-1]
cols

['Index', '0', '1', '2', '4', '6', '8', '10', '12']

In [18]:
df2 = df.set_index('Index','0','1').stack().reset_index()

In [25]:
df4 = df.sort_values(by = ['0', '1'], ascending = [False, True])

In [26]:
df4.head()

                 0           1           2            4  ...    8   10   12   Index
128386  182.957687 -103.180237  330.267792  2313.579102  ...  0.0  0.0  0.0  128386
128388  182.957687 -103.180237  332.196533     0.000000  ...  0.0  0.0  0.0  128388
128389  182.957687 -103.180237  331.460358     0.000000  ...  0.0  0.0  0.0  128389
128390  182.957687 -103.180237  329.837982  2321.022461  ...  0.0  0.0  0.0  128390
128391  182.957687 -103.180237  332.957672     0.000000  ...  0.0  0.0  0.0  128391

[5 rows x 9 columns]

In [27]:
print(df)

                 0           1           2  ...   10   12   Index
0      -197.043686 -163.180389  329.996735  ...  0.0  0.0       0
1      -197.043686 -163.180389  330.775604  ...  0.0  0.0       1
2      -197.043686 -163.180389  329.943512  ...  0.0  0.0       2
3      -197.043686 -163.180389  329.553131  ...  0.0  0.0       3
4      -197.043686 -163.180389  332.050140  ...  0.0  0.0       4
...            ...         ...         ...  ...  ...  ...     ...
663109 -194.471970  186.819763  331.718628  ...  0.0  0.0  663109
663110 -194.455948  186.819763  330.562775  ...  0.0  0.0  663110
663111 -194.439774  186.819763  330.347748  ...  0.0  0.0  663111
663112 -194.423447  186.819763  331.059784  ...  0.0  0.0  663112
663113 -194.407425  186.819763  330.106598  ...  0.0  0.0  663113

[663114 rows x 9 columns]

In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from os import path

# Special imports
from scipy.cluster.hierarchy import dendrogram, linkage
import scipy.cluster.hierarchy as shc
from sklearn.cluster import AgglomerativeClustering

# %matplotlib inline

print("============================================================")
print("       Hierarchical Clustering demo - num of clusters       ")
print("============================================================")
print(" ")


# Retain only the last two columns
data = df.iloc[:, 3:5].values


# Initialize hiererchial clustering method, in order for the algorithm to determine the number of clusters
# put n_clusters=None, compute_full_tree = True,
# best distance threshold value for this dataset is distance_threshold = 200
cluster = AgglomerativeClustering(n_clusters=None, affinity='euclidean', linkage='ward', compute_full_tree=True, distance_threshold=200)

# Cluster the data
cluster.fit_predict(data)

print(f"Number of clusters = {1+np.amax(cluster.labels_)}")

============================================================
       Hierarchical Clustering demo - num of clusters
============================================================

NameError: ignored

In [31]:
print(df)

                 0           1           2          3  ...   11   12   13     14
0      -197.043686 -163.180389  329.996735  36.054607  ...  0.0  0.0  0.0  31669
1      -197.043686 -163.180389  330.775604  37.902195  ...  0.0  0.0  0.0  31670
2      -197.043686 -163.180389  329.943512  42.349632  ...  0.0  0.0  0.0  31671
3      -197.043686 -163.180389  329.553131  41.687881  ...  0.0  0.0  0.0  31672
4      -197.043686 -163.180389  332.050140  42.752476  ...  0.0  0.0  0.0  31673
...            ...         ...         ...        ...  ...  ...  ...  ...    ...
663109 -194.471970  186.819763  331.718628  42.900658  ...  0.0  0.0  0.0  21033
663110 -194.455948  186.819763  330.562775  37.563095  ...  0.0  0.0  0.0  21034
663111 -194.439774  186.819763  330.347748  41.163986  ...  0.0  0.0  0.0  21035
663112 -194.423447  186.819763  331.059784  32.140606  ...  0.0  0.0  0.0  21036
663113 -194.407425  186.819763  330.106598  31.508242  ...  0.0  0.0  0.0  21037

[663114 rows x 15 columns]

In [32]:
df.drop(['3','5','14', '7', '9', '11', '13','14'],axis='columns', inplace=True)

In [39]:
abc = df.head(3)

In [40]:
abc

            0           1           2           4    6    8   10   12
0 -197.043686 -163.180389  329.996735    0.000000  0.0  0.0  0.0  0.0
1 -197.043686 -163.180389  330.775604    0.000000  0.0  0.0  0.0  0.0
2 -197.043686 -163.180389  329.943512  363.551544  0.0  0.0  0.0  0.0

In [41]:
test = abc.to_dict(orient="records")

In [ ]:
[{'0': -197.04368591308594,
  '1': -163.18038940429688,
  '10': 0.0,
  '12': 0.0,
  '2': 329.9967346,
  '4': 0.0,
  '6': 0.0,
  '8': 0.0},
 {'0': -197.04368591308594,
  '1': -163.18038940429688,
  '10': 0.0,
  '12': 0.0,
  '2': 330.7756042,
  '4': 0.0,
  '6': 0.0,
  '8': 0.0},

In [78]:
frame_define = []
for i in test:
  key_arr = i.keys()
  for key in key_arr:
    if key not in ['0','1']:
      dc1 = {}
      dc1['X'] = i.get('0')
      dc1['Y'] = i.get('1')
      dc1['Column'] = key
      dc1['Value'] = i.get(key)
      frame_define.append(dc1)

In [76]:
frame_define

[{'Column': '2',
  'Value': 329.9967346,
  'X': -197.04368591308594,
  'Y': -163.18038940429688},
 {'Column': '4',
  'Value': 0.0,
  'X': -197.04368591308594,
  'Y': -163.18038940429688},
 {'Column': '6',
  'Value': 0.0,
  'X': -197.04368591308594,
  'Y': -163.18038940429688},
 {'Column': '8',
  'Value': 0.0,
  'X': -197.04368591308594,
  'Y': -163.18038940429688},
 {'Column': '10',
  'Value': 0.0,
  'X': -197.04368591308594,
  'Y': -163.18038940429688},
 {'Column': '12',
  'Value': 0.0,
  'X': -197.04368591308594,
  'Y': -163.18038940429688},
 {'Column': '2',
  'Value': 330.7756042,
  'X': -197.04368591308594,
  'Y': -163.18038940429688},
 {'Column': '4',
  'Value': 0.0,
  'X': -197.04368591308594,
  'Y': -163.18038940429688},
 {'Column': '6',
  'Value': 0.0,
  'X': -197.04368591308594,
  'Y': -163.18038940429688},
 {'Column': '8',
  'Value': 0.0,
  'X': -197.04368591308594,
  'Y': -163.18038940429688},
 {'Column': '10',
  'Value': 0.0,
  'X': -197.04368591308594,
  'Y': -163.18038940429688},
 {'Column': '12',
  'Value': 0.0,
  'X': -197.04368591308594,
  'Y': -163.18038940429688},
 {'Column': '2',
  'Value': 329.943512,
  'X': -197.04368591308594,
  'Y': -163.18038940429688},
 {'Column': '4',
  'Value': 363.55154419999997,
  'X': -197.04368591308594,
  'Y': -163.18038940429688},
 {'Column': '6',
  'Value': 0.0,
  'X': -197.04368591308594,
  'Y': -163.18038940429688},
 {'Column': '8',
  'Value': 0.0,
  'X': -197.04368591308594,
  'Y': -163.18038940429688},
 {'Column': '10',
  'Value': 0.0,
  'X': -197.04368591308594,
  'Y': -163.18038940429688},
 {'Column': '12',
  'Value': 0.0,
  'X': -197.04368591308594,
  'Y': -163.18038940429688}]

In [63]:
frame_define

[{'Column': '12',
  'Value': 0.0,
  'X': -197.04368591308594,
  'Y': -163.18038940429688},
 {'Column': '12',
  'Value': 0.0,
  'X': -197.04368591308594,
  'Y': -163.18038940429688},
 {'Column': '12',
  'Value': 0.0,
  'X': -197.04368591308594,
  'Y': -163.18038940429688},
 {'Column': '12',
  'Value': 0.0,
  'X': -197.04368591308594,
  'Y': -163.18038940429688},
 {'Column': '12',
  'Value': 0.0,
  'X': -197.04368591308594,
  'Y': -163.18038940429688},
 {'Column': '12',
  'Value': 0.0,
  'X': -197.04368591308594,
  'Y': -163.18038940429688},
 {'Column': '12',
  'Value': 0.0,
  'X': -197.04368591308594,
  'Y': -163.18038940429688},
 {'Column': '12',
  'Value': 0.0,
  'X': -197.04368591308594,
  'Y': -163.18038940429688},
 {'Column': '12',
  'Value': 0.0,
  'X': -197.04368591308594,
  'Y': -163.18038940429688},
 {'Column': '12',
  'Value': 0.0,
  'X': -197.04368591308594,
  'Y': -163.18038940429688},
 {'Column': '12',
  'Value': 0.0,
  'X': -197.04368591308594,
  'Y': -163.18038940429688},
 {'Column': '12',
  'Value': 0.0,
  'X': -197.04368591308594,
  'Y': -163.18038940429688},
 {'Column': '12',
  'Value': 0.0,
  'X': -197.04368591308594,
  'Y': -163.18038940429688},
 {'Column': '12',
  'Value': 0.0,
  'X': -197.04368591308594,
  'Y': -163.18038940429688},
 {'Column': '12',
  'Value': 0.0,
  'X': -197.04368591308594,
  'Y': -163.18038940429688},
 {'Column': '12',
  'Value': 0.0,
  'X': -197.04368591308594,
  'Y': -163.18038940429688},
 {'Column': '12',
  'Value': 0.0,
  'X': -197.04368591308594,
  'Y': -163.18038940429688},
 {'Column': '12',
  'Value': 0.0,
  'X': -197.04368591308594,
  'Y': -163.18038940429688}]

In [77]:
pd.DataFrame(frame_define)

             X           Y Column       Value
0  -197.043686 -163.180389      2  329.996735
1  -197.043686 -163.180389      4    0.000000
2  -197.043686 -163.180389      6    0.000000
3  -197.043686 -163.180389      8    0.000000
4  -197.043686 -163.180389     10    0.000000
5  -197.043686 -163.180389     12    0.000000
6  -197.043686 -163.180389      2  330.775604
7  -197.043686 -163.180389      4    0.000000
8  -197.043686 -163.180389      6    0.000000
9  -197.043686 -163.180389      8    0.000000
10 -197.043686 -163.180389     10    0.000000
11 -197.043686 -163.180389     12    0.000000
12 -197.043686 -163.180389      2  329.943512
13 -197.043686 -163.180389      4  363.551544
14 -197.043686 -163.180389      6    0.000000
15 -197.043686 -163.180389      8    0.000000
16 -197.043686 -163.180389     10    0.000000
17 -197.043686 -163.180389     12    0.000000

In [54]:
abc

            0           1           2           4    6    8   10   12
0 -197.043686 -163.180389  329.996735    0.000000  0.0  0.0  0.0  0.0
1 -197.043686 -163.180389  330.775604    0.000000  0.0  0.0  0.0  0.0
2 -197.043686 -163.180389  329.943512  363.551544  0.0  0.0  0.0  0.0